body{
  background-color: #63B59D;
  width: auto;
  margin: auto;
}

a{
  text-decoration: none;
}

.header{
    height: 170px;
    background-color: #A4C1B9;
}

.logo{
  float: left;
}

.logo img{
  width: 178px;
}

.menu{
  float: right;
  height: 168px;
}

.menu ul{
  list-style-type: none;
  font-family: Arial;
  font-size: 13px;
}

.menu ul li{
  float: left;
  padding: 70px 14px;
}

.banner img{
  width: 100%;
}

.content{
  background-color: #A4C1B9;
}

.img img{
  width: 416px;
  height: 390px;
  margin-top: 21px;
  margin-left: -19px;
}

.footer{
  background-color: #A17766;
  height: 461px;
  padding-top: 6px;
}

.titulo{
  padding-left: 79px;
  margin-top: 0px 10px;
}

.button{
  text-align: center;
}
