body{
  background-color: #63B59D;
  width: auto;
  margin: auto;
}

a{
  text-decoration: none;
}

.header{
  height: 170px;
  background-color: #A4C1B9;
}

.logo{
  float: left;
}

.logo img{
  width: 178px;
}

.menu{
  float: right;
  height: 168px;
}

.menu ul{
  list-style-type: none;
  font-family: 'Lemonada', cursive;
  font-size: 13px;
  background-color: #A4C1B9;
  list-style: none;
  text-align: center;
}

.menu ul li{
  float: left;
  padding: 70px 17px;
}

.menu ul li a{
  padding: 0px 1px;

  /* visual do link no menu */
  background-color: #A4C1B9;
  color: #683324;
  font-size: medium;
  text-decoration: none;
  border-bottom: 3px #A4C1B9 solid
}

.menu ul li a:hover{
  background-color: #D6D6D6;
  color: #6D6D6D;
  border-bottom: 3px #0C3E4F solid;
  padding: 2px 10px;
}

.banner{
  width: 100%;
  height: 500px;
  background-image: url("img/cover.jpg");
  background-position: center;
  background-size: 100% no-repeat;
}

.content{
  background-color: #A4C1B9;
  font-family: 'Nunito', sans-serif;
  padding: 20px 20px;
}

.col-sm-offset-1 {
  margin-left: 7.333333%;
  margin-right: 1%;
}


/*@media (min-width: 768px){
  .col-sm-5 {
    width: 38.666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8%;
    margin-right: 3%;
  }

  .footer{
    padding-left: 30px;
  }

  label.center{
    text-align: center;
  }

}

@media (min-width: 400px){
  .col-sm-5 {
    width: 84.666667%;
    padding-bottom: 19px;
  }

  .col-sm-offset-1 {
    margin-left: 8%;
    margin-right: 3%;
  }

  .footer{
    padding: 30px 30px;
  }

  label.center{
    text-align: center;
  }

}*/



.imagem-selo img{
  margin: auto;
  position: relative;
  width: 416px;
  background-position: center;
  background-size: 100% no-repeat;
}


footer{
  padding-bottom: 5px;
}

.footer{
  padding-top: 20px;
  background-color: #A17766;
  height: auto;
  padding-top: 30px;
  position: relative;
}

.titulo{
  margin-top: 0px 10px;
}

.button{
  text-align: center;
}
