body{
  background-color: #63B59D;
  width: auto;
  margin: auto;
}

a{
  text-decoration: none;
}

.header{
  height: 170px;
  background-color: #A4C1B9;
}

.logo{
  float: left;
}

.logo img{
  width: 178px;
}

.menu{
  float: right;
  height: 168px;
}

.menu ul{
  list-style-type: none;
  font-family: 'Lemonada', cursive;
  font-size: 13px;
  background-color: #A4C1B9;
  list-style: none;
  text-align: center;
}

.menu ul li{
  float: left;
  padding: 70px 17px;
}

.menu ul li a{
  padding: 0px 1px;

  /* visual do link no menu */
  background-color: #A4C1B9;
  color: #683324;
  font-size: medium;
  text-decoration: none;
  border-bottom: 3px #A4C1B9 solid
}

.menu ul li a:hover{
  background-color: #D6D6D6;
  color: #6D6D6D;
  border-bottom: 3px #0C3E4F solid;
  padding: 2px 10px;
}

.banner{
  width: 100%;
  height: 500px;
  background-image: url("img/cover.jpg");
  background-position: center;
  background-size: 100% no-repeat;
}

.content{
  background-color: #A4C1B9;
  font-family: 'Nunito', sans-serif;
}

.img img{
  width: 416px;
  height: 390px;
  margin-top: 21px;
  margin-left: -19px;
}

footer{
  padding-bottom: 5px;
}

.footer{
  background-color: #A17766;
  height: auto;
  padding-top: 6px;
  position: relative;
}

.titulo{
  /*padding-left: 79px;*/
  margin-top: 0px 10px;
}

.button{
  text-align: center;
}
